:root {

  --azul-claro: #f3fbfb;

  --azul: #bae8e8;

  --amarelo: #ffd803;

  --preto: #272343;
}

/* Para desktops / telas grandes */
@media only screen and (min-width: 1025px)
{
  .main-ingredient-cards {
    background: var(--preto);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2em;
    min-height: 90vh;
    padding-left: 1em;
    padding-right: 1em;
  }
  
  .ingredient-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .ingredient-card p {
    font-size: 2.5em;
    color: var(--amarelo);
  }
  
  .ingredient-img {
    width: 14em;
  }
  
  .eWjCzc {
    color: var(--amarelo) !important;
    background-color: var(--preto) !important;
    border: 2px solid var(--amarelo) !important;
  }
}

/* Para telas pequena / laptops */
@media only screen and (max-width: 1024px){
  .main-ingredient-cards {
    background: var(--preto);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2em;
    min-height: 90vh;
    padding-left: 1em;
    padding-right: 1em;
  }
  
  .ingredient-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .ingredient-card p {
    font-size: 1.8em;
    color: var(--amarelo);
  }
  
  .ingredient-img {
    width: 12em;
  }
  
  .eWjCzc {
    color: var(--amarelo) !important;
    background-color: var(--preto) !important;
    border: 2px solid var(--amarelo) !important;
  }
}

/* Para Tablet */
@media only screen and (max-width: 768px)
{
  .ingredient-card p {
    font-size: 1.5em;
  }

  .ingredient-img {
    width: 11em;
  }
}

/* Para mobile */
@media only screen and (max-width: 600px)
{
  .ingredient-card p {
    font-size: 1.4em;
  }

  .ingredient-img {
    width: 10em;
  }
}