@font-face {
  font-family: mufflu;
  font-weight: 100;
  src: local(mufflu), url('../fonts/mufflu.otf') format('opentype');
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: mufflu;
}

:root {

  --azul-claro: #f3fbfb;

  --azul: #bae8e8;

  --amarelo: #ffd803;

  --preto: #272343;

  --shadow-color: 248deg 46% 6%;

  --shadow-elevation-medium:
    0.4px 0.4px 0.4px hsl(var(--shadow-color) / 1),
    10.3px 10.1px 10.8px -5px hsl(var(--shadow-color) / 1);
}

html {
  position: relative;
  min-height: 100%;
  background: var(--azul-claro);
  scroll-behavior: smooth;
}

.body-food-page {
  background: var(--azul-claro);
  margin: 0 0 90px;
}

.main-food-page {
  margin-top: 1em;
}

/* Para desktops / telas grandes */
@media only screen and (min-width: 1025px)
{
  .section-btns {
    margin-bottom: 1em;
    margin-top: 1em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .btn-categories {
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
    width: 7.5em;
    border-radius: 7px;
    border: 3px solid var(--preto);
    color: var(--preto);
    background-color: var(--azul);
    padding-top: 0.2em;
  }

  .btn-categories:active {
    background-color: var(--preto);
    color: var(--azul-claro);
  }

  .div-cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10em;
    margin-top: 2em;
  }

  .div-card {
    max-width: 480px;
  }

  .div-card:hover {
    border-radius: 0 74px 0 64px;
    border: 3px solid var(--preto);
    box-shadow: var(--shadow-elevation-medium);
  }

  .img-recipe {
    width: 28.7em;
    border-radius: 0 70px 0 0;
  }

  .div-p {
    background-color: var(--azul);
    color: var(--preto);
    font-size: 1.5em;
    font-weight: 800;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:end;
    border-radius: 0 0 0 60px;
  }

  .div-p p {
    padding-top: 0.5em;
    padding-right: 0.5em;
  }

  .section-a {
    display: flex;
    border-radius: 50px;
    justify-content: right;
  }

  .section-a img {
    margin-right: 10px;
  }

  .seta-img:hover {
    width: 4em;
  }
}
