:root {

  --azul-claro: #f3fbfb;

  --azul: #bae8e8;

  --amarelo: #ffd803;

  --preto: #272343;

}

/* Para desktops / telas grandes */
@media only screen and (min-width: 1025px)
{
  .container-footer {
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    background-color: var(--preto);
    padding-left: 2em;
    padding-right: 2em;
  }

  .footer-icon-explore {
    width: 2.5em;
  }

  .footer-icon {
    width: 3em;
  }
}

/* Para telas pequena / laptops */
@media only screen and (max-width: 1024px)
{
  .container-footer {
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    background-color: var(--preto);
  }

  .footer-icon-explore {
    width: 2.5em;
  }

  .footer-icon {
    width: 2.8em;
  }
}

/* Para Tablet */
@media only screen and (max-width: 768px)
{
  .container-footer {
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    background-color: var(--preto);
    padding: 0.3em;
  }

  .footer-icon {
    width: 2.8em;
  }
}

/* Para mobile */
@media only screen and (max-width: 600px)
{
  .container-footer {
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    background-color: var(--preto);
    padding: 0.3em;
  }

  .footer-icon-explore {
    width: 2em;
  }

  .footer-icon {
    width: 2.3em;
  }
}