* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: mufflu;
  font-weight: 100;
  src: local(mufflu), url('../fonts/mufflu.otf') format('opentype');
}

:root {

  --azul-claro: #f3fbfb;

  --azul: #bae8e8;

  --amarelo: #ffd803;

  --preto: #272343;

}

/* Para mobile */
@media only screen and (max-width: 600px)
{
  .main-login {
    align-items: center;
    background: linear-gradient(-45deg, #dafcfc, #f9e7fe);
    display: flex;
    height: 100vh;
    justify-content: center;
  }
  
  .section-form {
    align-items: center;
    color: var(--preto);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-bottom: 40%;
    gap: 1px !important;
  }
  
  .form {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
  }
  
  /* From uiverse.io by @nikk7007 */
  .btn-login {
    background-color: transparent;
    border: 2px solid var(--preto);
    border-radius: 8px;
    color: var(--amarelo);
    background: var(--preto);
    font-family: mufflu;
    font-weight: 900;
    font-size: 16px !important;
    height: 40px !important;
    text-align: center;
    width: 90px !important;
  }

  h1 {
    font-size: 50px !important;
    font-family: mufflu;
  }
  
  .btn-login:active {
    color: white;
    border: white;
    border: 3.5px solid white;
  }
  
  .input-login {
    font-family: mufflu;
    background: none;
    border: 2px solid var(--preto);
    border-radius: 8px;
    color: var(--preto);
    height: 35px !important;
    padding-left: 7px;
    width: 255px !important;
  }
  
  input::placeholder {
    color: var(--preto);
    padding-left: 8px;
  }
  
  .img-logo {
    height: 180px !important;
    margin-bottom: 20px;
  }
}

/* Para Tablet */
@media only screen and (max-width: 768px)
{
  .main-login {
    align-items: center;
    background: linear-gradient(-45deg, #dafcfc, #f9e7fe);
    display: flex;
    height: 100vh;
    justify-content: center;
  }
  
  .section-form {
    align-items: center;
    color: var(--preto);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
  
  .form {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
  }
  
  /* From uiverse.io by @nikk7007 */
  .btn-login {
    background-color: transparent;
    border: 2px solid var(--preto);
    border-radius: 8px;
    color: var(--amarelo);
    background: var(--preto);
    font-family: mufflu;
    font-size: 18px;
    font-weight: 900;
    height: 40px;
    text-align: center;
    width: 95px;
  }

  h1 {
    font-size: 54px;
    font-family: mufflu;
  }
  
  .btn-login:active {
    color: white;
    border: white;
    border: 3.5px solid white;
  }
  
  .input-login {
    font-family: mufflu;
    background: none;
    border: 2px solid var(--preto);
    border-radius: 8px;
    color: var(--preto);
    height: 38px;
    padding-left: 7px;
    width: 280px;
  }
  
  input::placeholder {
    color: var(--preto);
    padding-left: 8px;
  }
  
  .img-logo {
    height: 185px;
    margin-bottom: 20px;
  }
}

/* Para telas pequena / laptops */
@media only screen and (max-width: 1024px)
{
  .main-login {
    align-items: center;
    background: linear-gradient(-45deg, #dafcfc, #f9e7fe);
    display: flex;
    height: 100vh;
    justify-content: center;
  }
  
  .section-form {
    align-items: center;
    color: var(--preto);
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 10%;
  }
  
  .form {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
  }
  
  /* From uiverse.io by @nikk7007 */
  .btn-login {
    background-color: transparent;
    border: 2px solid var(--preto);
    border-radius: 8px;
    color: var(--amarelo);
    background: var(--preto);
    font-family: mufflu;
    font-size: 18px;
    font-weight: 900;
    height: 40px;
    text-align: center;
    width: 95px;
  }

  h1 {
    font-size: 54px;
    font-family: mufflu;
  }
  
  .btn-login:active {
    color: white;
    border: white;
    border: 3.5px solid white;
  }
  
  .input-login {
    font-family: mufflu;
    background: none;
    border: 2px solid var(--preto);
    border-radius: 8px;
    color: var(--preto);
    height: 38px;
    padding-left: 7px;
    width: 280px;
  }
  
  input::placeholder {
    color: var(--preto);
    padding-left: 8px;
  }
  
  .img-logo {
    height: 18rem;
    margin-bottom: 20px;
  }
}

/* Para desktops / telas grandes */
@media only screen and (min-width: 1025px)
{
  .main-login {
    align-items: center;
    background: linear-gradient(-45deg, #dafcfc, #f9e7fe);
    display: flex;
    height: 100vh;
    justify-content: center;
  }
  
  .section-form {
    align-items: center;
    color: var(--preto);
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 10%;
  }
  
  .form {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
  }
  
  /* From uiverse.io by @nikk7007 */
  .btn-login {
    background-color: transparent;
    border: 2px solid var(--preto);
    border-radius: 8px;
    color: var(--amarelo);
    background: var(--preto);
    font-family: mufflu;
    font-size: 18px;
    font-weight: 900;
    height: 40px;
    text-align: center;
    width: 95px;
  }

  h1 {
    font-size: 54px;
    font-family: mufflu;
  }
  
  .btn-login:active {
    color: white;
    border: white;
    border: 3.5px solid white;
  }
  
  .input-login {
    font-family: mufflu;
    font-size: 1.1em;
    background: none;
    border: 2px solid var(--preto);
    border-radius: 8px;
    color: var(--preto);
    height: 38px;
    padding-left: 7px;
    width: 280px;
  }
  
  input::placeholder {
    color: var(--preto);
    padding-left: 8px;
    font-size: 1.1em;
  }
  
  .img-logo {
    height: 30em;
    margin-bottom: 20px;
  }
}